.Burger{
    width:100%;
    margin:auto;
    height:250px;
    overflow:scroll;text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media(min-width:500px) and (min-height:400px){
    .Burger{
        width:450px;
        height:500px;
    }
}
@media(min-width:100px) and (min-height:700px){
    .Burger{
        width:700px;
        height:600px;
    }
}